<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="AXCodeSummary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <AXCodeSummary.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="Output" serializeAs="String">
                <value />
            </setting>
            <setting name="Ownership" serializeAs="String">
                <value />
            </setting>
            <setting name="Country" serializeAs="String">
                <value />
            </setting>
            <setting name="Region" serializeAs="String">
                <value />
            </setting>
            <setting name="TagRegion" serializeAs="String">
                <value />
            </setting>
            <setting name="Pattern" serializeAs="String">
                <value>*.xpo</value>
            </setting>
            <setting name="Modules" serializeAs="String">
                <value>class;table;form;ssrs;query;map;view;enum</value>
            </setting>
            <setting name="BaseLayer" serializeAs="String">
                <value />
            </setting>
            <setting name="UpperLayers" serializeAs="String">
                <value />
            </setting>
        </AXCodeSummary.Properties.Settings>
    </userSettings>
</configuration>
